*.a
*.o
*~
/.deps
/.project
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/daliserver.debhelper.log
/debian/daliserver.postinst.debhelper
/debian/daliserver.postrm.debhelper
/debian/daliserver.prerm.debhelper
/debian/daliserver.substvars
/debian/daliserver/
/debian/files
/depcomp
/install-sh
/missing
/src/daliserver
/stamp-h1
/test-driver
/test/*.log
/test/*.trs
/test/dali-test-dispatch-*
/test/testarray
/test/testdispatch
/test/testlist
/test/testpack
/test/testsock
Makefile
Makefile.in
