*.a
*.o
*~
/.deps
/.project
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/.debhelper/
/debian/*.debhelper.log
/debian/*.debhelper
/debian/*.substvars
/debian/daliserver/
/debian/files
/debian/debhelper-build-stamp
/debian/autoreconf.*
/debian/.debhelper
/depcomp
/install-sh
/missing
/lib/.deps/
/src/.deps/
/src/daliserver
/stamp-h1
/test-driver
/test/*.log
/test/*.trs
/test/dali-test-dispatch-*
/test/testarray
/test/testdispatch
/test/testlist
/test/testpack
/test/testsock
/test/.deps/
Makefile
Makefile.in
