*~
*.o
*.a
Makefile
Makefile.in
/.deps
/.project
/src/daliserver
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/compile
/ar-lib
/test-driver
/test/
/debian/
