Source: daliserver
Section: net
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>= 10),
 autotools-dev, pkg-config,
 libusb-1.0-0-dev
Standards-Version: 3.9.8
Vcs-Git: https://github.com/onitake/daliserver.git
Vcs-Browser: https://github.com/onitake/daliserver

Package: daliserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base
Conflicts: daliserver-upstart, daliserver-systemd
Description: daliserver
 daliserver is a command multiplexing server for the Tridonic DALI USB adapter,
 allowing access to a DALI bus from any USB-equipped computer that supports
 libusb.  This package includes init scripts for sysvinit-based systems, or
 systems that include a sysvinit compatibility layer.  Only one DALI USB
 adapter is supported at a time by this package, and adapters cannot be
 hotplugged.

Package: daliserver-upstart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, upstart
Conflicts: daliserver, daliserver-systemd
Replaces: daliserver
Description: daliserver-upstart
 daliserver is a command multiplexing server for the Tridonic DALI USB adapter,
 allowing access to a DALI bus from any USB-equipped computer that supports
 libusb.  This package includes init scripts for upstart-based systems.
 Multiple simultaneous DALI USB adapters are supported, and adapters can
 be hotplugged.

Package: daliserver-systemd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd (>= 236)
Conflicts: daliserver, daliserver-upstart
Replaces: daliserver
Description: daliserver
 daliserver is a command multiplexing server for the Tridonic DALI USB adapter,
 allowing access to a DALI bus from any USB-equipped computer that supports
 libusb.  This package includes init scripts for systemd-based systems.
 Multiple simultaneous DALI USB adapters are supported, and adapters can
 be hotplugged.
