[Unit]
Description=Command multiplexing server for Tridonic DALI USB on %i
BindsTo=%i.device
After=%i.device network.target

[Service]
ExecStart=/usr/libexec/daliserver/daliserver-start %i
